<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


    <nav>
      <img src="./images/icons/mountain-tour-logo.svg" alt="JP Tours Icon" height="50" width="50">
      <ul>
        <li></li>
        <li><a href="/">Home</a></li>
        <li>Gallery</li>
        <!-- <li>Subscribe</li> -->
        <li><a href="/subscribe">Subscribe</a></li>
      </ul>
    </nav>


  
</body>
</html>