body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
}

nav img {
  margin-left: 3rem;
}

ul {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(236, 236, 236);
  list-style-type: none;
}

ul li {
  margin-right: 2rem;
  font-size: 1.3rem;
}

ul li:hover {
  cursor: pointer;
  color: #08c738;
}

a,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

a:hover {
  color: #00c220;
}

img {
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  max-width: 90vw;
}

.card {
  background-color: #fff;

  margin: 20px 12px;
  padding-bottom: 30px;
  border: 1px solid black;
  border-radius: 5px;

  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #2e2e2e;

  transition: all .2s;
}

.card:hover {
  background-color: inherit;
 
  cursor: pointer;
 
  transform: scale(1.1);
}

figcaption {
  padding: 10px;
}