<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="./css/gallery.css">
    <script src="./js/client.js"></script>
  </head>
<body>
    <%- include('../partials/nav'); %>
 
  <main class="gallery">
    <!-- <figure class="card">
      <img src="./images/gallery/hike1.jpg" height="" width="" alt="">
      <figcaption>Caption</figcaption>
    </figure> -->
  </main>
</body>
</html>